* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #101010;
    color: white;
}

#clock, #cpu, #memory, #temperature, #battery, 
#network, #pulseaudio, #backlight, #tray {
    padding: 0 10px;
    background-color: transparent;
    color: white;
}

/* Workspaces styling */

#workspaces button:only-child {
    padding: 0 4px 0 4px;
}

#workspaces button {
    border: none;
    color: gray;
    padding: 0 4px 0 4px;
}

#workspaces button:hover {
    border: none;
    background: transparent;
}

#workspaces button.active {
    color: white;
}

#workspaces button.urgent {
    color: red;
}

#temperature.critical {
    color: red;
}

#battery.charging, #battery.plugged {
    color: green;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#network.disconnected {
    color: red;
}

#pulseaudio.muted {
    color: red;
}

#tray {
    background-color: transparent;
    padding: 0 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: red;
}
